.tabla {
    background-color: #FF9F1C;
    border-radius: 15px;
    padding: 20px;
    width:700px;
    margin:auto;
    margin-top: 20px;
    align-items: center;
    align-content: center;
  }

  .registracijaTip, .regKorisnik, .regKompanija{
    
    height:auto;
    padding: 20px;
    margin-bottom: 40px;
  }


  