.registracijaTip,
.regKorisnik,
.regKompanija {
    height: auto;
    padding: 20px;
    margin-bottom: 40px;
}

.fondacijeSpisak {
    font-family: 'Courier New', monospace;
}

.dodavanjeFondacija input[type=text],
.dodavanjeFondacija textarea {
    width: 100%;
    padding: 8px;
    border: 3px solid #cccccc;
    box-sizing: border-box;
}