.tabla {
    background-color: #F4AC45;
    border-radius: 15px;
    padding: 20px;
    width:700px;
    margin:auto;
    margin-top: 20px;
    align-items: center;
    align-content: center;
  }

  .registracijaTip, .regKorisnik, .regKompanija{
    background-color:#DAD6D6;
    height:auto;
    padding: 20px;
  }


  